/*
* el-card
*/
 .el-card.is-always-shadow {
  box-shadow: none;
  -webkit-box-shadow: none;
}
.el-card:hover {
  -webkit-box-shadow: 0 1px 6px rgb(0 0 0 / 20%);
  box-shadow: 0 1px 6px rgb(0 0 0 / 20%);
  border-color: #eee;
}

.el-form-item {
  margin-left: 8px;
  margin-right: 8px;
}

.operation {
  margin: 12px 0;
}

.el-pagination .el-select .el-input .el-input__inner {
  height: 24px;
  line-height: 24px;
}

.el-pagination__editor.el-input .el-input__inner {
  height: 24px;
  line-height: 24px;
}

.el-dialog {
  border-radius: 6px;
}


//滚动条的宽度
.your-table .el-table__body-wrapper::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
//滚动条的滑块
.your-table .el-table__body-wrapper::-webkit-scrollbar-thumb {
  background-color: #a1a3a9;
  border-radius: 3px;
}
//滚动条的宽度
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
//滚动条的滑块
::-webkit-scrollbar-thumb {
  background-color: #a1a3a9;
  border-radius: 3px;
}